/* Ma solution */

/* Reset */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    min-width: 0;
  }
  body {
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: system-ui, sans-serif;
    background: #ddd;
    color: #222;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  button {
    border: 0;
    padding: 0;
    line-height: 0;
    background: transparent;
    cursor: pointer;
  }
}

/* Deco */
@layer deco {
  h1 {
    text-align: center;
  }
  h2,
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
